<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="http://localhost/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="http://localhost/assets/img/favicon.png">
  <title>
    Tomato Group Dashboard
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="http://localhost./assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="http://localhost/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <style>
    body {
      padding-top: 15%;
      padding-bottom: 40px;
    }

    .form-signin {
      max-width: 400px;
      padding: 15px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <div class="card form-signin">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="username-input">Username</label>
          <input type="text" class="form-control" id="username-input" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password-input">Password</label>
          <input type="password" class="form-control" id="password-input" name="password" placeholder="Password">
        </div>
      </form>
      <button id="signin" class="btn btn-primary">Sign In</button>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="http://localhost/assets/js/core/jquery.min.js"></script>
  <script src="http://localhost/js/signin.js"></script>
</body>

</html>